<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">  
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  </head>

  <body>
      <style>
        .container {
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1280px;
            height: 640px;
        }

        .quote {
            font-family: "EB Garamond", serif;
            font-size: 28pt;
            width: 65%;
        }
      </style>
      
      <div class="container">
        <div class="quote">“{{ text }}”</div>
      </div>
  </body>
</html>